<template>
  <b-alert
      v-model="showDismissibleAlert"
      :variant="dismissibleAlertVariant"
      dismissible
      @dismissed="internalAlertMessages = []"
      >
        <p v-for="(alert, index) in internalAlertMessages" v-bind:key="index">
          {{ alert }}
        </p>
      </b-alert>
</template>

<script>
export default {
  props: {
    alertMessages: {
      type: Array,
      default(){  return [] }
    },
    dismissibleAlertVariant:  {
      type: String,
      default: "danger"
    }
  },
  data() {
    return { showDismissibleAlert : false }
  },
  computed: {
    internalAlertMessages: {
      get: function(){
        return this.alertMessages
      },
      set: function(values) {
        return values;
      }
    }
  },
  watch: {
    'alertMessages' : function (test){
      if (this.alertMessages.length> 0){
        this.showDismissibleAlert = true
      }
    }
  }
};
</script>
