<template>
  <section class="container">
    <div>
      <ResetPassword></ResetPassword>
    </div>
  </section>
</template>

<script>
import ResetPassword from '../../components/auth/ResetPassword.vue'
export default {
  layout: "auth",
  components:{
    ResetPassword
  }
};
</script>
