<template>
  <section class="container">
    <div>
      <h1 class="title">
        Account verification
      </h1>
      <alert :dismissibleAlertVariant="dismissibleAlertVariant" :alertMessages="alertMessages"></alert>
    </div>
  </section>
</template>

<script>
import alert from "../../components/utils/alerts/alert.vue";
import Rest from "../../middleware/Rest";
export default {
  components: {
    alert
  },
  layout: "auth",
  data() {
    return {
      alertMessages: [],
      dismissibleAlertVariant: "danger",
      AUTH_ENDPOINT: process.env.AUTH_ENDPOINT
    };
  },
  async mounted() {
    const token = this.$route.query.token;
    const userId = this.$route.query.userId;
    if (token && userId) {
      this.$store
        .dispatch("auth/verifyAccount", { token: token, userId: userId })
        .then(()=>{
          this.dismissibleAlertVariant = "success"
          this.alertMessages = ['Account verified. Redirecting to login page.']
          setTimeout(()=>{
            window.location = '/login'
          },3000)
        }
        )
        .catch(()=>{
          this.dismissibleAlertVariant = "danger"
          this.alertMessages = ['Failed to verify account']
        });
    } else console.log("Not token or userId provided");
  },
  methods: {
    verify() {}
  }
};
</script>

<style>
.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; /* 1 */
  display: block;
  font-weight: 300;
  font-size: 30px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
