<template>
  <div>
    <h5>Create new</h5>
    <b-input-group prepend="Name">
      <b-form-input v-model="newExercise.name"></b-form-input>
      <b-input-group-append>
        <b-button v-on:click="addExercise" variant="outline-success"
          >Add</b-button
        >
      </b-input-group-append>
    </b-input-group>
    <br />
    <h5>Existing</h5>

    <b-overlay :show="loadingExercises">
      <div class="container">
        <div class="row">
          <b-list-group class="container-fluid">
            <b-list-group-item
              v-for="exercise in exercises"
              v-bind:key="exercise.created_at"
            >
              {{ exercise.name }}
            </b-list-group-item>
          </b-list-group>
        </div>
      </div>
    </b-overlay>
  </div>
</template>

<script>
import JWTRest from "../middleware/JWTRest";
import Exercise from "../assets/models/Exercise";
import { compare } from "../assets/models/utils"
export default {
  props: {
    exercises: Array
  },
  mounted() {
    this.rest = new JWTRest(this.API_ENDPOINT);

    Exercise.getAll(this.rest)
      .then(results => {
        this.exercises = results;
        this.loadingExercises = false;
      })
      .catch(err => {
        this.loadingExercises = false;
        if (err.status == 401) 
          window.location = "/login";
      });
  },
  data() {
    return {
      API_ENDPOINT: process.env.API_ENDPOINT,
      AUTH_ENDPOINT: process.env.AUTH_ENDPOINT,
      newExercise: new Exercise(),
      loadingExercises: true
    };
  },
  methods: {
    async addExercise() {
      var result = await this.newExercise.save(this.rest);

      if (result) {
        var createdExercise = new Exercise(result);

        this.exercises.unshift(createdExercise);

        this.newExercise = new Exercise();
      }
    }
  }
};
</script>
