<template>
  <div>
    <div v-show="!isEditMode">
      <b-list-group>
        <b-list-group-item
          v-for="(set, index) in exerciseEntry.sets"
          v-bind:key="index"
          v-on:click="makeSetCurrent(set)"
        >
          Weight:{{ set.weight }} Reps:{{ set.reps }}
        </b-list-group-item>
      </b-list-group>
    </div>
    <div v-show="isEditMode">
      <set-component
        v-on:addToSets="addToSets($event)"
        v-on:finishedAddingSets="finishedAddingSets()"
        :set="currentSet"
        :isFlowMode="isFlowMode"
      ></set-component>
    </div>
    <div class="container" v-show="isEditMode && exerciseEntry.sets.length">
      <div class="row mt-3" >
        <h5> Previous Sets </h5>
      </div>
      <div class="row">
        <b-list-group-item 
              v-for="(set, index) in exerciseEntry.sets"
              v-bind:key="index"
            >
              <!-- <small>{{index+1}}-Weight:{{ set.weight }} Reps:{{ set.reps }}</small> -->
              <b-container>
                {{index+1}}
                <div class="row">
                  <b-col left>Weight:</b-col>
                  <b-col>{{ set.weight }}</b-col>
                  <!-- <b-badge variant="warning">Weight:{{ set.weight }}</b-badge> -->
                  <!-- Weight:{{ set.weight }} -->
                </div>
                 <div class="row">
                    <b-col left>Reps:</b-col>
                    <b-col>{{ set.reps }}</b-col>
                    
                    <!-- <b-badge variant="warning">Reps:{{ set.reps }}</b-badge> -->
                  </div>
              </b-container>
        </b-list-group-item>
      </div>
    </div>
<!-- 
    <b-button v-on:click="isEditMode = !isEditMode"
      >Toggle Edit mode({{ isEditMode }})</b-button
    > -->
  </div>
</template>

<script>
import Workout from "../assets/models/Workout";
import ExerciseEntry from "../assets/models/ExerciseEntry";
import Set from "../assets/models/SetModel";
import SetComponent from "./SetComponent.vue";

import Rest from "../middleware/Rest";
import JWTRest from "../middleware/JWTRest";
export default {
  components: {
    SetComponent
  },
  props: {
    exerciseEntry: Object,
    workout_id: String
  },
  data() {
    return {
      viewing: true,
      isEditMode: false,
      isFlowMode: true,
      currentSet: Object
    };
  },
  mounted() {
    this.rest = new JWTRest();
    if( this.exerciseEntry &&
        this.exerciseEntry.sets &&
        this.exerciseEntry.sets.length == 0){
      this.currentSet= new Set;
      this.isEditMode= true;
      this.isFlowMode= true;
    }
  },
  computed(){
      return {
        isInSession : this.isEditMode && this.isFlowMode
      }
  },
  methods: {
    makeSetCurrent(set) {
      this.currentSet = set;
      this.viewing = false;
      this.isEditMode = true;
    },
    addToSets($event){
      this.exerciseEntry.sets.push($event);
      if( this.isEditMode && this.isFlowMode ){
        var newSet= new Set
        this.currentSet = newSet
        this.exerciseEntry.update(this.rest, this.workout_id)
      }
    },
    finishedAddingSets($event){
      this.$emit('addNewExerciseEntry')
    },
    activateFlowMode(){
      this.viewing = false;
      this.isEditMode = true;
      this.isFlowMode = true;
    },
    activateEditMode(){
      this.viewing = false;
      this.isEditMode = true;
      this.isFlowMode = false;
    }
  }
};
</script>
