<template>
  <div>
    <div v-show="!isFlowMode">
      <h5>Set</h5>
      <b-form-input
        v-model="set.weight"
        type="number"
        min="0.00"
      ></b-form-input>
      <b-form-input v-model="set.reps" type="number" min="0.00"></b-form-input>
      <b-button-group>
        <b-button variant="success">Save</b-button>
        <b-button variant="danger">Delete</b-button>
      </b-button-group>
    </div>
    <div class="container-fluid" v-show="isFlowMode">
      <div class="row">
        <h4>Sets</h4>
      </div>
      <div class="row">
        <b-form-input
          class="text-center"
          v-show="currentStep == 'addWeight' ? true : false"
          v-model="set.weight"
          type="number"
          v-on:keyup.enter="submitValue('addReps')"
          placeholder="Weight"
          min="0.00"
        ></b-form-input>
        <b-form-input
          v-show="currentStep == 'addReps' ? true : false"
          v-model="set.reps"
          class="text-center"
          type="number"
          min="0.00"
          v-on:keyup.enter="submitValue('done')"
          placeholder="Reps"
        ></b-form-input>
      </div>
      <div class="row mt-3">
        <b-button
          class="container-fluid"
          variant="success"
          v-on:click="$emit('finishedAddingSets')"
          >Finish Exercise</b-button
        >
      </div>
    </div>
  </div>
</template>

<script>
import Workout from "../assets/models/Workout";
import ExerciseEntry from "../assets/models/ExerciseEntry";
import Set from "../assets/models/SetModel";
import Rest from "../middleware/Rest";
export default {
  props: {
    set: Set,
    isFlowMode: true
  },
  data() {
    return {
      currentStep: "addWeight"
    };
  },
  mounted() {},
  methods: {
    submitValue(nextStep) {
      this.currentStep = nextStep;
      if (nextStep == "done") {
        this.$emit("addToSets", this.set);
        this.currentStep = "addWeight";
      }
    }
  }
};
</script>
