<template>
  <div>
    <small>{{ workout.created_at  | moment("dddd, MMMM Do YYYY, HH:mm") }}Previous Workouts</small>
    <div v-show="this.view == 'addExerciseEntry'">
      <div>Adding Exercise Entry</div>
      <div class="container">
        <div class="row">
          <b-form-select
            value-field="id"
            text-field="name"
            v-model="currentExerciseEntry.exercise_id"
            :options="exerciseDefinitions"
          ></b-form-select>
        </div>
      </div>
      <div class="container">
        <div class="row mt-3">
          <b-button
            variant="success"
            class="container-fluid"
            v-on:click="createExerciseEntry()"
            >Start Exercise</b-button
          >
        </div>
      </div>
    </div>
    <div
      class="mt-3"
      v-show="this.view == 'workout' || this.view == 'addExerciseEntry'"
    >
      <h5 v-show="this.view == 'workout'">Exercise Entries</h5>
      <h5 v-show="this.view == 'addExerciseEntry'">Previous Entries</h5>
      <b-list-group>
        <b-list-group-item
          v-for="exerciseEntry in workout.exercises"
          v-bind:key="exerciseEntry.created_at"
          v-on:click="openExerciseEntry(exerciseEntry.id)"
        >
          {{ exerciseEntry.exercise_name }} - {{ exerciseEntry.created_at  | moment("HH:mm:ss")  }}
        </b-list-group-item>
      </b-list-group>
    </div>
    <div v-show="this.view == 'exerciseEntry'">
      <ExerciseEntryComponent
        :workout_id="this.workout.id"
        :exerciseEntry="currentExerciseEntry"
        v-on:addNewExerciseEntry="addNewExerciseEntry()"
      >
      </ExerciseEntryComponent>
    </div>
    <div class="fixed-bottom">
       <b-button-group class="container-fluid" v-if="view=='workout'">
        <b-button 
          variant="primary"
          v-on:click="finishWorkout()"
          >Back</b-button
        >
        <b-button 
          variant="secondary"
          v-on:click="openStartExerciseEntryView()"
          >Edit</b-button
        >
       </b-button-group>
      <b-button v-if="view=='addExerciseEntry'"
        variant="info"
        class="container-fluid"
        v-on:click="finishWorkout()"
        >Finish Workout</b-button
      >
    </div>
  </div>
</template>

<script>
import Workout from "../assets/models/Workout";
import Exercise from "../assets/models/Exercise";
import ExerciseEntry from "../assets/models/ExerciseEntry";

import ExerciseEntryComponent from "./ExerciseEntryComponent.vue";

import Rest from "../middleware/Rest";
import JWTRest from "../middleware/JWTRest";
export default {
  components: {
    ExerciseEntryComponent
  },
  props: {
    workout: Object
  },
  async mounted() {
    this.rest = new JWTRest();
    if (this.workout.status == "IN_PROGRESS"){
      this.workout = await Workout.get(this.rest, "IN_PROGRESS");
      this.view = "addExerciseEntry"
    }
    else this.workout = await Workout.get(this.rest, this.workout.id);
    this.currentExercise = {};

    this.workout.exercises = await ExerciseEntry.getAll(
      this.rest,
      this.workout.id
    );
    if (this.workout.exercises.length == 0) {
      this.view = "addExerciseEntry";
    }

    // TODO: Async it
    let exerciseDefinitions = await Exercise.getAll(this.rest);

    this.exerciseDefinitions.push(...exerciseDefinitions);

    this.workout.exercises.map(exerciseEntry => {
      let findExerciseEntryName = this.exerciseDefinitions.find(
        exerciseDefinition => exerciseDefinition.id == exerciseEntry.exercise_id
      );
      if (findExerciseEntryName)
        exerciseEntry.exercise_name = findExerciseEntryName.name;
    });
  },
  data() {
    return {
      view: "workout",
      currentExerciseEntry: new ExerciseEntry(),
      selectedExercise: {},
      exerciseDefinitions: [{id: 0, name: "Please select an exercise"}]
    };
  },
  methods: {
    openExerciseEntry(exerciseEntryId) {
      var exerciseEntry = this.workout.exercises.find(
        exercise => exercise.id == exerciseEntryId
      );
      if (exerciseEntry) {
        this.currentExerciseEntry = exerciseEntry;
        this.view = "exerciseEntry";
      }
    },
    openStartExerciseEntryView() {
      this.view = "addExerciseEntry";
    },
    createExerciseEntry() {
      let exercise_id = this.currentExerciseEntry.exercise_id;
      if (exercise_id != 0) {
        this.currentExerciseEntry.create(this.rest, this.workout.id);
        this.currentExerciseEntry.exercise_name= this.getExerciseDefinitionNameById(exercise_id);
        this.workout.exercises.push(this.currentExerciseEntry)
        this.view = "exerciseEntry";
      }
    },
    addNewExerciseEntry() {
      this.currentExerciseEntry = new ExerciseEntry();
      this.openStartExerciseEntryView();
    },
    finishWorkout() {
      this.viewing = true;
      this.isEditMode = false;
      this.isFlowMode = false;
      if (this.workout.status == "IN_PROGRESS"){
        Workout.finishCurrent(this.rest);
        this.workout.status = "COMPLETED";
      }
      this.view = "workout";
      this.$emit("finishedWorkout");
    },
    getExerciseDefinitionNameById(exercise_id){
      let findExerciseEntryName = this.exerciseDefinitions.find(
        exerciseDefinition => exerciseDefinition.id == exercise_id
      );
      return findExerciseEntryName ? findExerciseEntryName.name : "Exercise Name Not found"

    }
  }
};
</script>
