<template>
  <div>
    <div v-show="workoutView == 'workouts'">
      <b-overlay :show="loading">
        <b-button
          v-show="!hasWorkoutInProgress"
          v-on:click="startWorkout"
          variant="success"
          size="lg"
          class="container-fluid"
          >Start Workout</b-button
        >
        <b-button
          v-show="hasWorkoutInProgress"
          v-on:click="resumeCurrentWorkout"
          size="lg"
          class="container-fluid"
          >Resume Current Workout</b-button
        >
      </b-overlay>
      <br />
      <b-overlay :show="loading">
        <div class="container mt-3">
          <div class="row">
            <h5>Previous Workouts</h5>
          </div>

          <div class="row">
            <b-list-group class="container-fluid">
              <b-list-group-item
                v-for="workout in workouts"
                v-bind:key="workout.created_at"
                v-on:click="loadWorkout(workout.id)"
                v-if="workout.status != 'IN_PROGRESS'"
              >
                {{ workout.created_at | moment("dddd, MMMM Do YYYY, HH:mm") }}
              </b-list-group-item>
            </b-list-group>
          </div>
        </div>
      </b-overlay>
    </div>
    <div v-if="workoutView == 'workout'">
      <WorkoutComponent
        :key="componentKey"
        :workout="selectedWorkout"
        v-on:finishedWorkout="workoutFinished()"
      >
      </WorkoutComponent>
    </div>
  </div>
</template>

<script>
import Workout from "../assets/models/Workout";
import WorkoutComponent from "./WorkoutComponent.vue";

import Rest from "../middleware/Rest";
import JWTRest from "../middleware/JWTRest";
export default {
  props: {
    workouts: Array
  },
  components: {
    WorkoutComponent
  },
  async mounted() {
    this.rest = new JWTRest();
    this.workouts = await Workout.getAll(this.rest).catch(err => {
      if (err.status == 401){
       window.location = "/login";
      }
    });
    
    this.workouts.sort((a,b) => new Date(b.created_at) - new Date(a.created_at))

    let isInProgress = this.workouts.find(
      workout => workout.status == "IN_PROGRESS"
    );
    this.hasWorkoutInProgress = isInProgress;

    this.loading = false;
  },
  data() {
    return {
      API_ENDPOINT: process.env.API_ENDPOINT,
      hasWorkoutInProgress: true,
      newWorkout: new Workout(),
      workoutView: "workouts",
      selectedWorkout: {
        id: 0,
        created_at: "",
        status: "TEST"
      },
      componentKey: 0,
      loading: true
    };
  },
  methods: {
    async startWorkout() {
      var result = await this.newWorkout.save(this.rest);
      if (result) {
        var newWorkout = new Workout(result);
        this.workouts.push(newWorkout);
        this.selectedWorkout = newWorkout;
        this.workoutView = "workout";
      }
    },
    resumeCurrentWorkout() {
      this.selectedWorkout = this.workouts.find(
        workout => workout.status == "IN_PROGRESS"
      );
      this.workoutView = "workout";
    },
    loadWorkout(workout_id) {
      this.selectedWorkout = this.workouts.find(
        workout => workout.id == workout_id
      );
      this.workoutView = "workout";
    },
    async workoutFinished() {
      if (this.selectedWorkout.status == "IN_PROGRESS"){
        this.selectedWorkout.status= "COMPLETED"
        this.hasWorkoutInProgress = false;
      }
      this.workoutView = "workouts";
    }
  }
};
</script>
