<template>
  <div>
    <b-navbar variant="dark" type="dark">
      <b-navbar-nav >
        <b-nav-item href="/workouts">
          Workouts
        </b-nav-item>
        <b-nav-item href="/exercises">
          Exercises
        </b-nav-item>
      </b-navbar-nav>

      <b-navbar-nav class="ml-auto" >
        <b-nav-item-dropdown right>
          <template v-slot:button-content>
            Account
          </template>
          <b-dropdown-item v-on:click="logout()" href="#">Sign Out</b-dropdown-item>
        </b-nav-item-dropdown>
      </b-navbar-nav>
    </b-navbar>
    <nuxt/>
  </div>
</template>
<script>
import Rest from "../middleware/Rest";
export default {
  data() {
    return {
      AUTH_ENDPOINT: process.env.AUTH_ENDPOINT
    }
  },
  async mounted() {
    this.rest = new Rest(this.AUTH_ENDPOINT);
  },
  methods: {
    async logout(){

      let loggedOut = await this.$store.dispatch('auth/logout')
      if (loggedOut)
          window.location = '/login';
    }
  }
}
</script>

<style>
html {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

.button--green {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #3b8070;
  color: #3b8070;
  text-decoration: none;
  padding: 10px 30px;
}

.button--green:hover {
  color: #fff;
  background-color: #3b8070;
}

.button--grey {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #35495e;
  color: #35495e;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 15px;
}

.button--grey:hover {
  color: #fff;
  background-color: #35495e;
}
</style>

