<template>
  <section class="container">
    <div>
      <h1 class="title">
        Momentvm
      </h1>
      <h2 class="subtitle">
        Achieve your fitness goals
      </h2>
      <div class="links">
        <a
          href="/login"
          class="button--green">Log in</a>
        <a
          href="/register"
          class="button--grey">Sign up</a>
        <!-- <a
          href="https://github.com/nuxt/nuxt.js"
          target="_blank"
          class="button--grey">GitHub</a> -->
      </div>
    </div>
  </section>
</template>

<script>

export default {
  layout: "landing",
  async mounted(){
    // Logged in users are redirected
    await this.$store
          .dispatch("auth/isLoggedIn")
          .then(result =>{
            if(result)
              window.location = '/workouts/'
          })
  }
}
</script>
