<template>
  <section class="container">
    <div>
      <Login></Login>
    </div>
  </section>
</template>

<script>

import Login from "../components/auth/Login.vue";
export default {
  layout: "auth",
  components:{
    Login
  }
};
</script>