<template>
  <section class="container">
    <div>
      <Register></Register>
    </div>
  </section>
</template>

<script>

import Register from "../components/auth/Register.vue";
export default {
  layout: "auth",
  components:{
    Register
  }
};
</script>