<template>
  <section class="container">
    <div>
      <h1 class="title">
        Exercises
      </h1>
      <Exercises :exercises="exercises"></Exercises>
    </div>
  </section>
</template>

<script>
import axios from 'axios';
import Exercises from "../../components/Exercises.vue";
export default {
  components: {
    Exercises
  },
  data (context) {
    return {
      exercises: []
    }
  }
}; 
</script>
