<template>
  <div>
    <h1 class="title">Forgot password?</h1>
    <alert :dismissibleAlertVariant="dismissibleAlertVariant" :alertMessages="alertMessages"></alert>
    <b-overlay :show="loading">
      <b-input-group class="mt-3" prepend="Email">
        <b-form-input
          required
          type="email"
          id="input-email"
          v-model="credentials.email"
        ></b-form-input>
      </b-input-group>
      <b-button v-on:click="sendForgotPassword()" class="mt-3" variant="success"
        >Send Password Change Email</b-button
      >
    </b-overlay>
  </div>
</template>

<script>
import axios from "axios";
import alert from "../../components/utils/alerts/alert.vue";
import { BIconEyeFill, BIconEyeSlash } from "bootstrap-vue";
import Rest from "../../middleware/Rest";
export default {
  components: {
    alert
  },
  async mounted() {
    this.rest = new Rest(this.AUTH_ENDPOINT);
  },
  data() {
    return {
      AUTH_ENDPOINT: process.env.AUTH_ENDPOINT,
      loading: false,
      credentials: {
        email: ""
      },
      showDismissibleAlert: false,
      alertMessages: [],
      dismissibleAlertVariant: "danger"
    };
  },
  methods: {
    validateForm() {
      let errors = [];
      let emailValid = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,24}))$/.test(
        this.credentials.email
      );
      if (!emailValid) errors.push("Valid email required");
      return errors;
    },
    async sendForgotPassword() {
      this.loading = true;
      let errors = this.validateForm();

      if (errors.length > 0) {
        this.sendDismissibleAlert(errors);
        this.loading = false;
        return;
      }

      // Does this make sense at all??
      (async function(context,email) {
        await context.$store.dispatch("auth/forgotPassword", { email: email})
        .then(()=>{
          context.sendDismissibleAlert("If your account exists, you should receive a link with instructions on how to change your password.", "success")
        })
        .catch((errorMessage)=>{
          context.sendDismissibleAlert(errorMessage);
        })
      })(this, this.credentials.email);

      this.loading = false;
    },
    sendDismissibleAlert(messages, variant = "danger") {
      if (typeof messages == "string") messages = [messages];
      this.dismissibleAlertVariant = variant;
      this.alertMessages = messages;
      this.showDismissibleAlert = true;
    }
  }
};
</script>
