<template>
  <div>
    <h1 class="title">Ready to sweat?</h1>
    <b-alert v-model="showDismissibleAlert" variant="danger" dismissible @dismissed="alertMessage=''">
      {{alertMessage}}
    </b-alert>
    <b-overlay :show="loading">
      <b-input-group prepend="Email">
        <b-form-input required type="email" id="input-email" v-model="credentials.email"></b-form-input>
      </b-input-group>
      <b-input-group class="mt-3" prepend="Password">
        <b-form-input :type="passwordHidden? 'password' : 'text'" v-model="credentials.password"></b-form-input>
        <b-input-group-append>
          <b-button variant="outline-success" v-on:click="passwordHidden=!passwordHidden">
            <b-icon-eye-slash v-show="passwordHidden">
            </b-icon-eye-slash>
            <b-icon-eye-fill v-show="!passwordHidden">
            </b-icon-eye-fill>
          </b-button>
        </b-input-group-append>
      </b-input-group>
      <b-button v-on:click="login()" class="mt-3" variant="success">Let's go</b-button>
      <div class="mt-3">
        <a href="/register">Don't have an account?</a>
      </div>
      <div class="mt-3">
        <a href="/account/forgot-password">Forgot password?</a>
      </div>
    </b-overlay>
  </div>
</template>

<script>
import { BIconEyeFill, BIconEyeSlash } from 'bootstrap-vue'
import Rest from "../../middleware/Rest";
export default {
  async mounted() {
    this.rest = new Rest(this.AUTH_ENDPOINT);

  },
  data() {
    return {
      AUTH_ENDPOINT: process.env.AUTH_ENDPOINT,
      CSFR_REFRESH_DOMAIN: process.env.CSFR_REFRESH_DOMAIN,
      CSFR_TOKEN_DOMAIN: process.env.CSFR_TOKEN_DOMAIN,
      loading: false,
      passwordHidden: true,
      credentials:{
        email: "",
        password: ""
      },
      showDismissibleAlert: false,
      alertMessage: ""
    };
  },
  methods: {
    async login(){
      this.loading=true;
      // Does this make sense at all??
      (async function(context){
        if(!context.credentials.password || !context.credentials.email){
          context.sendDismissibleAlert("Please provide all credentials")
          return
        }
        try{
        let response = await context.rest.post('login',context.credentials);
        let result = response.data;

        window.location='/workouts'
        }
        catch(err){
          console.log("Summat's fishy");
          if(err.status==401)
            context.sendDismissibleAlert("Invalid Credentials")
        }
      }(this))
      
      this.loading=false;

    },
    sendDismissibleAlert(message){
      this.alertMessage = message;
      this.showDismissibleAlert= true;
    }

  }
};
</script>
