<template>
  <div>
    <h1 class="title">Registration</h1>
    <b-alert
      v-model="showDismissibleAlert"
      :variant="dismissibleAlertVariant"
      dismissible
      @dismissed="alertMessages = []"
    >
      <p v-for="(alert, index) in alertMessages" v-bind:key="index">
        {{ alert }}
      </p>
    </b-alert>
    <b-overlay :show="loading">
      <b-input-group prepend="Email">
        <b-form-input
          required
          type="email"
          id="input-email"
          v-model="credentials.email"
        ></b-form-input>
      </b-input-group>
      <b-input-group class="mt-3" prepend="Password">
        <b-form-input
          :type="passwordHidden ? 'password' : 'text'"
          v-model="credentials.password"
        ></b-form-input>
        <b-input-group-append>
          <b-button
            variant="outline-success"
            v-on:click="passwordHidden = !passwordHidden"
          >
            <b-icon-eye-slash v-show="passwordHidden"> </b-icon-eye-slash>
            <b-icon-eye-fill v-show="!passwordHidden"> </b-icon-eye-fill>
          </b-button>
        </b-input-group-append>
      </b-input-group>
      <b-button v-on:click="register()" class="mt-3" variant="success"
        >Register</b-button
      >
    </b-overlay>
  </div>
</template>

<script>
import axios from "axios";
import { BIconEyeFill, BIconEyeSlash } from "bootstrap-vue";
import Rest from "../../middleware/Rest";
export default {
  async mounted() {
    this.rest = new Rest(this.AUTH_ENDPOINT);
  },
  data() {
    return {
      AUTH_ENDPOINT: process.env.AUTH_ENDPOINT,
      CSFR_REFRESH_DOMAIN: process.env.CSFR_REFRESH_DOMAIN,
      CSFR_TOKEN_DOMAIN: process.env.CSFR_TOKEN_DOMAIN,
      loading: false,
      passwordHidden: true,
      credentials: {
        email: "",
        password: ""
      },
      showDismissibleAlert: false,
      alertMessages: [],
      dismissibleAlertVariant: "danger"
    };
  },
  methods: {
    validateForm() {
      //TODO Move to utils/validations
      let errors = [];
      let emailValid = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,24}))$/.test(
        this.credentials.email
      );
      if (!emailValid) errors.push("Valid email required");

      let password = this.credentials.password;
      let passwordChecks = {
        hasUppercase: {
          value: false,
          message: "Password must contain at least one upper case character"
        },
        hasLowercase: {
          value: false,
          message: "Password must contain at least one lower case character"
        },
        hasSpecialCharacter: {
          value: false,
          message:
            "Password must contain at least one special character \ ! @ [ ] # $ % ^ & * . _ ,"
        }
      };

      if (password.length < 10)
        errors.push("Password must have at least 10 characters");

      for (var i = 0; i < password.length; i++) {
        let currentChar = password.charAt(i);
        if (/[\\!@\[\]#\$%\^\&\*\.\_\,]/g.test(currentChar)) {
          passwordChecks.hasSpecialCharacter.value = true;
          continue;
        }
        if (currentChar.toLowerCase() == currentChar) {
          passwordChecks.hasLowercase.value = true;
          continue;
        }
        if (currentChar.toUpperCase() == currentChar) {
          passwordChecks.hasUppercase.value = true;
          continue;
        }
      }

      for (let key in passwordChecks) {
        if (passwordChecks.hasOwnProperty(key))
          if (passwordChecks[key].value == false)
            errors.push(passwordChecks[key].message);
      }

      return errors;
    },
    async register() {
      //TODO move to actions in auth
      this.loading = true;
      let errors = this.validateForm();

      if (errors.length > 0) {
        this.sendDismissibleAlert(errors);
        this.loading = false;
        return;
      }

      // Does this make sense at all??
      (async function(context) {
        if (!context.credentials.password || !context.credentials.email) {
          context.sendDismissibleAlert("Please provide all credentials");
          return;
        }
        try {
          let response = await context.rest.post(
            "register",
            context.credentials
          );

          context.sendDismissibleAlert("Registered successfully - An email will be sent to the provided address", "success")

          // setTimeout(function(){
          //   window.location = "/login";
          // },2000)
        } catch (err) {
          if (err.response.status == 401)
            context.sendDismissibleAlert("Invalid Credentials");
          if (err.response.status == 400)
            context.sendDismissibleAlert("Invalid email and password");
        }
      })(this);

      this.loading = false;
    },
    sendDismissibleAlert(messages, variant = "danger") {
      if (typeof messages == "string") messages = [messages];
      this.alertMessages = messages;
      this.dismissibleAlertVariant = variant;
      this.showDismissibleAlert = true;
    }
  }
};
</script>
