<template>
  <section class="container">
    <div>
      <h1 class="title">
        Password Reset
      </h1>
      <alert
        :dismissibleAlertVariant="dismissibleAlertVariant"
        :alertMessages="alertMessages"
      ></alert>
      <b-overlay :show="loading">
        <b-input-group class="mt-3" prepend="New Password">
          <b-form-input
            :type="passwordHidden ? 'password' : 'text'"
            v-model="credentials.password"
          ></b-form-input>
          <b-input-group-append>
            <b-button
              variant="outline-success"
              v-on:click="passwordHidden = !passwordHidden"
            >
              <b-icon-eye-slash v-show="passwordHidden"> </b-icon-eye-slash>
              <b-icon-eye-fill v-show="!passwordHidden"> </b-icon-eye-fill>
            </b-button>
          </b-input-group-append>
        </b-input-group>
        <b-button
          v-on:click="resetPassword(credentials.password)"
          class="mt-3"
          variant="success"
          >Reset</b-button
        >
      </b-overlay>
    </div>
  </section>
</template>

<script>
import alert from "../../components/utils/alerts/alert.vue";
import Rest from "../../middleware/Rest";
export default {
  components: {
    alert
  },
  data() {
    return {
      alertMessages: [],
      dismissibleAlertVariant: "danger",
      AUTH_ENDPOINT: process.env.AUTH_ENDPOINT,
      passwordHidden: true,
      loading: false,
      credentials: {
        password: ""
      }
    };
  },
  methods: {
    async resetPassword(password) {
      const token = this.$route.query.token;
      const userId = this.$route.query.userId;
      
      if (token && userId) {
        await this.$store
          .dispatch("auth/resetPassword", {
            token: token,
            userId: userId,
            password
          })
          .then(() => {
            this.dismissibleAlertVariant = "success";
            this.alertMessages = [
              "Password successfully changed. Redirecting to the login page."
            ];
            setTimeout(() => {
              window.location = "/login";
            }, 3000);
          })
          .catch((errors) => {
            this.dismissibleAlertVariant = "danger";
            this.alertMessages = Array.isArray(errors) ? errors : [errors];
          });
      }
    }
  }
};
</script>
