<template>
  <section class="container">
    <div>
      <h1 class="title">
        Workout
      </h1>
      <WorkoutComponent :workout="workout"></WorkoutComponent>
    </div>
  </section>
</template>

<script>
import WorkoutComponent from "../../components/WorkoutComponent.vue";
import ExerciseEntryComponent from "../../components/ExerciseEntryComponent.vue";
export default {
  components: {
    WorkoutComponent,
    ExerciseEntryComponent

  },
  data (context) {
    return {
      workout: {
        id: "current",
        exercises: []
      }
    }
  }
};
</script>
