<template>
  <section class="container">
    <div>
      <h1 class="title">
        Workouts
      </h1>
      <Workouts :workouts="workouts"></Workouts>
    </div>
  </section>
</template>

<script>
import Workouts from "../../components/Workouts.vue";
export default {
  components: {
    Workouts
  },
  data (context) {
    return {
      workouts: []
    }
  }
};
</script>
